/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

#games li a {
	height: 100px;
	background-size: cover;
	background-color: #f0f0f0;
	background-position: 50%;
	text-decoration: none;
	display: block;
	line-height: 234px;
	border-bottom: 35px solid rgb(32, 127, 146);
	font-weight: bold;
	text-indent: 15px;
	color: white;
	transition: border-bottom-color .2s ease-in;
	margin-bottom: 15px;
}

#games li a:hover {
	border-bottom-color: rgb(0, 152, 182);
}

#games .tall {
    height: 180px;
    line-height: 395px;
}

#images img {
	width: 100%;
}

.video p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	margin-bottom: 5px;
}

.videolinks {
	float: right;
	margin-bottom: 5px;
}

.videolinks li {
	display: inline;
}

.videolinks a {
	text-decoration: none;
}

.video iframe {
	width: 100%;
	height: 100%;
	border: none;
}

#factsheet caption {
	text-align: left;
}

dt:not(:first-child), #factsheet caption  {
	padding-top: 10px;
}

dt, #factsheet caption {
	font-weight: bold;
	font-style: normal;
	display: block;
}

#factsheet td {
	text-align: right;
	padding: 5px 10px;
}

#factsheet td:first-child {
	font-weight: bold;
	width: 100%;
	text-align: left;
}

#factsheet tr:nth-child(odd) {
	background-color: #eee;
}

#images li a {
	background-size: cover;
	display: block;
	width: 100%;
	height: 100%;
	background-position: 50%;
}

.prices dt {
	float: left;
	min-width: 65px;
}

#menu {
	position: fixed;
	padding-top: 15px;
}

#menu ul {
	margin: 0;
}

#menu li {
	margin-bottom: 5px;
}

#menu li a {
	display: block;
	padding: 10px;
	margin: 0;
	background: rgb(32, 127, 146);
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border-left: 15px solid rgba(0, 0, 0, 0.2);
	transition: background .2s ease-in;
}

#menu li a:hover {
	background: rgb(0, 152, 182);
}

.container > *:not(#dummy-menu):not(#factsheet):not(#historydescription) {
    float: right !important;
}

.video, #images li {
	padding-bottom: 10px;
}

.download {
	text-align: right;
	text-decoration: none !important;
	font-size: 55%;
	float: right;
}

blockquote {
	margin: 0;
	padding: 0;
	border-left: 0;
}

blockquote span {
	padding: 9px 19px 10px 20px;
	border-left: 1px solid #ddd;
	display: block;
	background-color: rgb(32, 127, 146);
	color: white;
}

blockquote span:after {
	content: "\0020";
	display: block;
	border: 10px inset transparent;
	border-top: 10px solid rgb(32, 127, 146);
	float: right;
	position: absolute;
	right: 100px;
	margin-top: 10px;
}

blockquote footer {
	padding: 10px 0 0 0;
	text-align: right;
}

hr {
	clear: inherit;
}

footer {
	padding-bottom: 60px;
}

.errors li, .warnings li{
	background-color: hsl(0, 64%, 35%);
	padding: 10px 15px;
	color: white;
}

.warnings li {
	background-color: hsl(31, 50%, 41%);
}

#creditlink {
	background: rgb(32, 127, 146) url('../images/logo.svg');
	background-size: contain;
	display: block;
	width: 30px;
	height: 30px;
	right: 10px;
	position: absolute;
}

#creditlink span {
	display: none;
}

abbr {
	border: dashed #ddd; 
	border-width: 0 0 1px;
}

/* forms */

fieldset {
	padding-top: 6px;
	margin-bottom: 0;
}

input[type="text"] {
	position: relative;
	z-index: 2;
	text-indent: 10px;
	width: 100%;
	padding: 7px 0;
}
 
label {
	position: relative;
	z-index: 10;
	padding: 0 10px;
	opacity: 0.75;
	transition: opacity 0.15s linear;
	width: 100%;
	cursor: text;
}

label + input[type="text"] {
	margin-top: -27px;
}

button {
	margin-top: 0;
}

label.focus { 
	opacity: 0.35; 
}

label.has-text { 
	opacity: 0.0; 
	transition-duration: 0s;
	visibility: hidden; 
}

button[disabled] {
	border-color: #ccc;
	text-shadow: none;
	color: #777;
	cursor: default;
	transition-duration: .3s;
}

button[disabled]:hover {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	transition-duration: 1s;
}

.success {
	background: rgb(114, 182, 41);
	color: white !important;
	text-shadow: none;
	transition-duration: 1s;
}

.fail {
	background: hsl(0, 64%, 35%);
	color: white !important;
	text-shadow: none;
	transition-duration: 1s;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#menu {
			position: inherit;
		}
		hr {
			margin: 10px 0 20px !important;
		}
		#factsheet {
			padding-bottom: 20px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/